<form style="margin-left: 20%;">
    <div>
        <h2>Hi , below is the nearest dealer to test drive your </h2>
        <br>
        <div>
            <h2></h2>
            <div>
                <label>Address:</label>
                <br>
                <p style="color: gray;"></p>
                <br>
                <br>
                <label>Phone:</label>
                <br>
                <p style="color: gray;"></p>
            </div>
        </div>
    </div>
    <div>
        <br>
        <h3>Please select a time below</h3>
        <select>
            <option default>Pick a time slot</option>
            <option></option>
        </select>
    </div>
    <br>
    <br>
    <button style="background-color: lightblue; border-radius: 4px;">Confirm Slot</button>
    <div style="margin-top: 20%;"></div>
</form>

<div style="margin-bottom: 20%;">
</div>